.box {
    display: flex;
}

h1 {
    margin: 0;
    color: #000;
    padding: 10px;
    font-family: Arial;
    display: inline;
}

body {
    margin: 0;
    background-color: rgb(119, 114, 136);
}

textarea {
    resize: none;
    width: 350px;
    height: 580px;
}

button {
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(119, 114, 136);
}

button:hover {
    font-size: 20px;
    border-radius: 5px;
    background-color: lightgrey;
}

header {
    padding: 10px;
}

.test {
    float: right;
    background-color: rgb(0, 255, 85);
}

.test:hover {
    float: right;
    background-color: rgb(90, 250, 143);
}